.DS_Store
*.pyc
*.ssi
data/crw-cms/*
data/crw-bpseq/*.sto
data/crw-bpseq/*.fasta
data/cms/*
data/rfam/RF*/*.seed
data/local_data/*
RF00177.cm
temp.*
output/*
headers.txt
traveler-input.fasta
tests/results
tests/html
tests/**/*.png
.vscode
*.code-workspace
docs/_build/*
results/**
1.4/**
2.0/**
.idea/**
.python-version
.venv
all.fa*
