.DS_Store
*.pyc
*.ssi
data/crw-cms/*
data/crw-bpseq/*.sto
data/crw-bpseq/*.fasta
data/cms/*
data/rfam/RF*/*.seed
data/local_data/*
RF00177.cm
temp.*
output/*
headers.txt
traveler-input.fasta
tests/results
tests/html
tests/**/*.png
.vscode
*.code-workspace
docs/_build/*
results/**
.idea/**
.python-version
.venv
data/rfam/cms/all.cm
data/rfam/cms/all.cm.*
data/rfam/cms/*.ssi
data/crw/all.cm
data/crw/*.ssi
