# Development and test dependencies.
#
# Needed to run `r2dt.py test`; not required to draw diagrams.

-r requirements.txt

Pillow>=11.0,<13
scikit-image>=0.24.0
numpy>=2.0.0
cairosvg==2.7.1
Jinja2==3.1.6
pre-commit==4.2.0
