click==7.0
colorhash==1.2.1
requests==2.31.0
sphinx==6.2.1
myst-parser==2.0.0
sphinx-rtd-theme==1.2.2
pre-commit==2.20.0
sphinx-autobuild==2021.3.14
viennarna==2.6.4
rich==13.5.2
cairosvg==2.7.1
Pillow==10.0.1
scikit-image==0.21.0
Jinja2==3.1.2
